# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Environment variables
.env

# Database
*.db

# Node (frontend)
node_modules/
dist/

# OS
.DS_Store
Thumbs.db
